.navbar {
    display: flex;
    -webkit-box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);
    -moz-box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);
    box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);
    Justify-content: space-between;
    padding: 10px;
}

.pagina-contenedor {
    display: grid;
    grid-template-areas: 'sidebar sidebar pensamiento pensamiento pensamiento'
        'sidebar sidebar publicacion publicacion publicacion';
    gap: 20px;
    margin-top: 50px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);
    -moz-box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);
    box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);


}

.pagina-contenedor div {
    -webkit-box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);
    -moz-box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);
    box-shadow: 10px 10px 70px -13px rgba(30, 102, 61, 1);


}

.publicacion {
    display: flex;
    justify-content: space-between;
}

.publicacion div {
    display: flex;
    flex-wrap: wrap;
    border: 1px dotted;
    padding: 10px;
}

.navbar img {

    width: 50px;
}

.menu-hambur {

    display: none;
}

.sidebar,
.pensamiento,
.publicacion {
    padding: 20px;
}

.sidebar {
    grid-area: sidebar;
}

.pensamiento {
    grid-area: pensamiento;
}

.publicacion {
    grid-area: publicacion;
}

@media only screen and (max-width: 400px) {
    .menu-hambur {
        display: block;
    }

    .avatar,
    .menu {
        display: none;
    }

    .pagina-contenedor {
        background-color: green;
        display: flex;
        flex-wrap: wrap;
    }

    .invertido{
        flex-direction: column-reverse;
    }

}